{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "object-curly-newline": 1,
    "react/jsx-wrap-multilines": 0,
    "operator-linebreak": 0
  },
  "env": {
    "browser": true
  }
}
